# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Django
db.sqlite3
media/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Node (Tailwind)
node_modules/
package-lock.json
