{% extends "layout.html" %}

{% block content %}

    <div class="w-full max-w-md bg-white shadow-xl rounded-2xl p-8">

        <h2 class="text-3xl font-bold text-center text-blue-600 mb-6">
            Student Login
        </h2>

        {% comment %} {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-error mb-4">{{ msg }}</div>
            {% endfor %}
        {% endif %} {% endcomment %}

        <form method="POST">
            {% csrf_token %}

            <!-- Email -->
            <label class="block mb-2 font-semibold">Username</label>
            <input 
                type="text" 
                name="username" 
                class="input input-bordered w-full rounded-xl mb-4"
                placeholder="Enter your username"
                required
            >

            <!-- Password -->
            <label class="block mb-2 font-semibold">Password</label>
            <input 
                type="password" 
                name="password" 
                class="input input-bordered w-full rounded-xl mb-4"
                placeholder="Enter your password"
                required
            >

            <button class="btn btn-primary w-full mt-4 rounded-xl text-lg">
                Login
            </button>
        </form>

        <p class="text-center mt-4 text-gray-600">
            Are you an Admin?
            <a href="/admin" class="text-blue-600 font-semibold hover:underline">
                Admin Login
            </a>
        </p>
        <p class="text-center mt-4 text-gray-600">
            Don’t have an account?
            <a href="{% url 'register' %}" class="text-blue-600 font-semibold hover:underline">
                Register Now
            </a>
        </p>
    </div>

{% endblock %}